################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Notepad+-/Notepad+-/bin/Debug
/Notepad+-/Notepad+-/obj/Debug
/ProcessViewer/Processes viewer/bin/Debug
/ProcessViewer/Processes viewer/obj/Debug
/ProcessViewer/.vs/ProcessesViewer/v14
